

::-webkit-scrollbar {
  width: 12px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #05B0FF;
  border-radius: 10px;
}



body{
	font-family: courier new;
	text-align:center;
	background-color:#050505;
	color: #05B0FF;
}
td{
	font-size: 13px;
	color: #05B0FF;
}
p{
		text-align: justify;
}

.button {
	font-family: courier new;
  background-color: rgb(27,40,48);
  border: 0;
  color: #05B0FF;
  padding: 5px 10px;
  text-align: center;
  font-weight: bold;
  display: inline-block;
  font-size: 12px;
  border-radius: 8px;
  cursor: hand; 
}

.texto {
	font-family: consolas;
	font-size: 13px;
	background-color: #00101A;
	border-radius: 8px;
	border:1px; 
	color: #05B0FF;
	padding: 5px 10px;
	font-weight:bold;

}

.editor_green {
	font-family: courier new;
	background-color: #00101A;
	border-radius: 15px;
	border:0px; 
	color: #05B0FF;
	
}

.prompt {
	font-family: courier new;
	background-color: #00101A;
	border-radius: 15px;
	border:0px; 
	color: #05B0FF;
	resize: none;
	
	font-size: 13px;
	
}


a:link {
  color: #2060ff;
  background-color: transparent;
  text-decoration: underline;
}
*:focus {
    outline: none;
}

a:visited {
  color: #2060ff;
  background-color: transparent;
  text-decoration: underline;
}

a:hover {
  color: lime;
  background-color: transparent;
  text-decoration: underline;
}

a:active {
  color: rgb(150,150,150);
  background-color: transparent;
  text-decoration: underline;
}

.just{
	text-align:justify;
}

.menu_button{
	cursor: hand;
	background-color:  rgb(27,40,48);
	text-align:center;	

	font-family: lucida console;
	font-size: 14px;	
	border-radius: 15px;
	border:0px; 
	color: #05B0FF;
}
.menu_button2{
	cursor: hand;
	background-color:  rgb(30,50,80);
	text-align:center;	

	font-family: lucida console;
	font-size: 14px;	
	border-radius: 15px;
	border:0px; 
	color: #05B0FF;
}

